<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>TRIFIT</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <section class="section has-background-white has-text-centered">
      <div class="container">
        <h1 class="title is-2 has-text-black">Welcome</h1>
        <img
          src="/images/trifit-logo-full.png"
          alt="TriFit Logo"
          class="navbar-logo-centered"
          style="max-height: 500px"
        />
      </div>
    </section>
  </body>
</html>
