<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>TriFit</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <section class="hero is-fullheight">
      <div class="section is-flex is-flex-direction-column is-align-items-center is-justify-content-center has-text-centered py-6">
        <div class="container has-text-centered">
          <h1 class="title is-1 trifit-text mb-1">
            Welcome to TRIFIT
          </h1>

          <p class="subtitle is-4 trifit-text mb-5">
            Train the way you want to. Track your performance. Triumph in your goals.
          </p>

          <figure class="image is-inline-block" style="max-width: 600px; width: 100%;">
            <img src="/images/trifit-logo-full.png" alt="TriFit Logo" />
          </figure>

        </div>
      </div>
    </section>
  </body>
</html>

