/* Global styling */
body {
  background-color: #062942; /* Deep navy */
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* navbar styling */

.navbar.trifit-navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #071825;
}

.navbar.trifit-navbar .navbar-item:hover {
  background-color: #0077c8 !important;
  color: #ffffff !important;
}

/* Logo Styling */
.trifit-icon {
  height: 65px;
  transform: scale(0.7);
  transform-origin: center;
  width: auto;
  object-fit: contain;
}

.trifit-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
  color: #efebd6;
  letter-spacing: 0.5px;
}

/* acivities link styling */
.activity-card-link {
  text-decoration: none;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  display: block;
  border-radius: 8px;
}

.activity-card-link:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgb(13, 237, 35);
}

/* Switch Styling - for completed toggle*/

.switch input[type="checkbox"] {
  display: none;
}

.switch input:checked + .check {
  background-color: #4caf50;
}

.switch .check {
  border-radius: 34px;
  background-color: #ccc;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  transition: background-color 0.2s ease-in-out;
}

.switch .check::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.switch input:checked + .check::before {
  transform: translateX(24px);
}

/* Intensity level tags  */
.low-tag {
  color: white;
  background-color: #10b981;
}

.moderate-tag {
  color: white;
  background-color: orange;
}

.vigorous-tag {
  color: white;
  background-color: rgb(190, 61, 61);
}

/* mobile responsive */
@media (max-width: 768px) {
  .trifit-icon {
    height: 50px;
  }

  .trifit-text {
    font-size: 2rem;
  }
}
